# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '8.x'
  displayName: 'Install Node.js'

- script: |
    cd project
    npm install -g @angular/cli@7.3.0
    npm install
    ng build --prod --configuration=production
  displayName: 'npm install and build'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)/project/ng'
    includeRootFolder: true
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
    replaceExistingArchive: true

- task: AzureRmWebAppDeployment@4
  inputs:
    ConnectionType: 'AzureRM'
    azureSubscription: 'MSG ERM Explorer Dev (e5f3cb59-4b6c-464d-b6e2-581943658997)'
    appType: 'webApp'
    WebAppName: 'explorer-ui'
    deployToSlotOrASE: true
    ResourceGroupName: 'msg-erm-ermexplorer-webapps-rg-dev'
    SlotName: 'preprod'
    packageForLinux: '$(System.DefaultWorkingDirectory)/project/ng'