<div class="modal-header">
	<h1 class="page-header">
		Disclaimer
	</h1>
</div>
<div class="modal-body">
	The ERM Explorer Portal and its content is provided on an "as is" and "as available" basis. You understand and
	agree that you use the ERM Explorer Portal at your own discretion and risk and that you will be solely
	responsible for any damage or loss whatsoever that results from such use including use of any data obtained through
	the ERM Explorer Portal.
	<br><br>
	Web links to this site from external, third party websites should not be construed as implying any relationships with
	and/or endorsement of the external site or its content by MBIE.
	<br><br>
	If you have any concerns about the veracity of the data or website content, please <a href="mailto:cg-admin@csiro.au?Subject=ERM-Explorer-portal"><i
		 class="ti-email"></i><span>Contact us</span></a>
</div>
